* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}
div{
    display: block;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1140px;
    height: 1200px;
}

/* fieldset{
    border: none;
} */


#topbar3{
    display: flex;
    justify-content: end;
    align-items: end;
    height: 43px;
    font-size: small;

    
}
#topbar3>ul{
    padding: 5px;
}
#topbar3 li{
    padding: 5px;
}

.nav{
    width: 100%;
}




.top ul{
    position: absolute;
    display:flex;
    list-style: none;
}


#n2>ul{
    display: flex;
    list-style: none;
    font-size: 20px;
    background-color: rgb(64, 61, 61);
    color: white;
    text-align: center;
}
.logo{
        background-color: white;
    padding: px;
}

#n2 li>a{
    text-decoration: none;
    color: white;
}
#n2 li:nth-of-type(1){
    flex: 0 1 160px;

}
#n2 li:nth-of-type(2){
    flex: 0 1 160px;

    line-height: 3;
}
#n2 li:nth-of-type(3){
    flex: 0 1 160px;
   
    line-height: 3;
}
#n2 li:nth-of-type(4){
    cursor: pointer;
    flex: 0 1 160px;
    line-height: 3;
   
}
.etcInf{
    position: absolute;;
    background-color:rgb(64, 61, 61);
    z-index: 1;
    text-align: left;
    font-size: small;
    padding: 5px;
  
}
.container{
    margin-top: 10px;
}



.navbarEtc .etcInf{
    display: none;
}
.slideImg{
    display: none;
}
.slide>div:nth-of-type(1){
    display: block;
}

.dotbox{
    justify-content: center;
    text-align: center;
  
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    

}
.line{
    border-bottom: 1px solid black;
}
.logIn{
    margin-top: 5px;
    position: absolute;
    background-color: rgba(212, 221, 229, 0.7);
    width: 320px;
    height: 400px;
    top : 0px;
    bottom: 0px;
    right: 20px;
    justify-content: center;
    text-align: center;
}
#userName{
    width: 280px;
    height: 30px;
}
#userPwd{
        width: 280px;
        height: 30px;
}
.orderStart{
    margin-top: 10px;
}
.orderStart>ul>li{
    padding: 5px;
}

.orderArea{
    padding: 10px;
    height: 100%;
    
}
.orderAreaMiddle>p{
    text-align: end;
    margin-top: 5px;
   padding-right: 15px;
}
.orderAreaend>p{
    margin-top: 40px;
    
}
.orderStart>ul{
    display: flex;
    justify-content: center;
}

.btn-log, .btn-member{
    font-size: 20px;
    background-color: red;
    color: white;
    width: 280px;
    height: 50px;
    cursor: pointer;
}
.footer{
    background-color: rgb(74, 71, 71);
    color: white;
}
.footer>li{
    color: azure;
}
.footernav{
    height: 250px;
    display: flex;
    justify-content: center;
}
.footer-low{
   text-align: center;
    background-color: black;
    color: rgb(164, 161, 161);
}
.footer1{
    padding-right: 20px;
    margin-right: 200px;
}
.footer1 li>a{
    color: rgb(136, 132, 132);
}
.privacy>a{
    color: yellow;
}